name: Node.js CI/CD to ECR

on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region us-east-1 | \
          docker login --username AWS --password-stdin 123456789012.dkr.ecr.us-east-1.amazonaws.com

      - name: Build Docker Image
        run: docker build -t ecommerce-js .

      - name: Tag Image
        run: docker tag ecommerce-js:latest 449126594637.dkr.ecr.us-east-1.amazonaws.com/ecommerce-js:latest

      - name: Push Image to ECR
        run: docker push 123456789012.dkr.ecr.us-east-1.amazonaws.com/ecommerce-js:latest
